@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

body {
	background-color: lightskyblue;
}

.wrapper {
	box-sizing: border-box;
	width: 26.87em;
	padding: 2.5em 3em;
	background-color: white;
	position: absolute;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	left: 50%;
	top: 50%;
	border-radius: 0.6em;
	-webkit-border-radius: 0.6em;
	-moz-border-radius: 0.6em;
	-ms-border-radius: 0.6em;
	-o-border-radius: 0.6em;
	box-shadow: 0 0.9em 2.8em rgba(86, 66, 0, 0.2);
}

.game-container {
	position: relative;
	width: 100%;
	display: grid;
}